<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<h3>Welcome!</h3>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 text-left">
				<img alt="David Jones" class="img-responsive" src="modules/about/img/linkedInImage.jpg" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-left">
                                <p>
                                	<a class="btn btn-info btn-block btn-lg" href="/#!/aboutme" target="_self">Learn more about me          </a>
                        	</p>
				<p>
					<a class="btn btn-info btn-block btn-lg" href="/#!/aboutthiswebsite" target="_self">Learn more about this website</a>
				</p>
                        </div>
		</div>
	</div>
	<div>
		<h2>Blog</h2>
		<p>This blog is under construction.  I'll add a blogging module to create my posts sometime in the next week or two.
		<h3>Github</h3>
		<p>Finished my initial project.  Working on a lesson now (not a submission, just lab work, essentially) called Project Sunshine.  The reviewer of Project0 thought I did an awesome job separating out my files into reusable styles, using styles.xml, and colors.xml, and basically avoiding any extra unnecessary work.  I'm glad to get the pat on the back because I put way more time into it than the two hours that were budgeted.  It's a wonderful thing though, because I learned a lot, and I bet I could do the same project now in just 30 minutes.</p>
		<p>One of the things that I did to submit my work was establish a github account.  If you want to follow along with my nanodegree program, you can check out all of the code on github where my username is 88dave!</p>
		 <p>David Jones, MCTS.  6/3/2015</p>
		<h3>Android Nanodegree Project 0</h3>
		<p>I signed up for the new android development nanodegree that google revealed at a conference the other day.  They are running it in partnership with Udacity.  Haven't yet decided whether to pay my money and stick around after the first week, but it seems fun and a potentially promising way to expand my horizons</p>
		<p>Today I was working on Project 0, which is to build an android app that will eventually allow us to access our other apps, or some such.  Right now we're just building the buttons and having them toast when they are clicked.  So it is primarily a tool for students who have never used Android Studio to get started with it while also building a skeleton for something that will eventually be helpful in the class.</p>
		<p>Fortunately, I DO have some experience with Android Studio, having worked partway through some of the official tutorial not long after the Studio was released.  I had also worked a little bit with android in the Eclipse IDE about a year ago.  So I didn't have too many surprises getting started with Android Studio.  I remembered that the "emulator" is so slow as to be almost entirely useless unless you change some HAXM settings.  However, it's better to just use a real android device if you have one.  By better, I mean, easier, faster, and more like what the app would actually do in real live use.</p>
		<p>Where I struggled today was in the formatting of the buttons.  Evidently, the backgroundtint property does not work.  This is not good, because I went with the background property, and it makes my buttons look like ugly rectangles and not like buttons at all.  Googling definitely has me pointed in the right direction, something to do with gradients, but for now, I'm falling asleep, so I'll get back to it manana.</p>
		<p>David Jones, MCTS.  5/31/2015</p>
	</div>
