<section>
	<h3>About Me</h3>
	<div class="row">
		<div class="col-md-4">
			<img alt="MEAN.JS" class="img-responsive text-left" src="modules/about/img/linkedInImage.jpg" />
		</div>
		<div class="col-md-8">
			<p>I majored in Mathematics and Economics at the University of North Carolina at Chapel Hill, but I have had an interest in programming ever since the Lego Mindstorms robotics set I had as a child.  I began to realize in college that I really enjoyed the thrill of completing a working program, and my first significant job out of college involved using SQL to write reports for a company then known as FDH Engineering.  My talents rapidly developed into data warehouseing and SSAS cube development, and I got my first taste of javascript building a single page application for company budgeting.
			</p>
			<p>After two years, it was time to move on, and I have been working in a team of analysts at Cisco with a focus on worldwide sales enablement, where I serve as the SSAS cube and MDX expert.
			</p>
			<p> This website is my first public work, and you can check out more details about its creation on the about this website page. In my free time I have been dabbling in meanjs, the project used to architect this website, linux servers, and android development.  I like to expand my knowledge and I love learning new things.  Most important, however, is spending time with my wonderful fiance, Ms. Ashley Mayle: riding bikes, grilling out on the back porch, and playing with our friendly, toilet-trained cat, Mufasa.
			</p>
			<p>If you wish to contact me for any cool projects I should know about, blogs I should follow, groups or conferences you wish to suggest, or anything else interesting, please feel free to do so at my email address 88dave@bellsouth.net
			</p>
			 <a class="btn btn-info btn-block btn-lg" href="https://www.linkedin.com/pub/david-jones/17/a71/4a" target="_blank">Visit My LinkedIn Profile</a>
                         <a class="btn btn-info btn-block btn-lg" href="https://github.com/88dave" target="_blank">Visit Me on Github</a>

		</div>
	</div>
</section>
