.mydropboxstyle {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    border-style:dotted;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;}
