<section data-ng-controller="MyfilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Myfiles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="myfile in myfiles" data-ng-href="#!/myfiles/{{myfile._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="myfile.created | date:'medium'"></span>
				by
				<span data-ng-bind="myfile.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="myfile.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!myfiles.$resolved || myfiles.length">
    	No Myfiles yet, why don't you <a href="/#!/myfiles/create">create one</a>?
    </div>
</section>