<section data-ng-controller="MyfilesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="myfile.name"></h1>
	</div>
<!--	<videogular vg-theme='controller.config.theme'>
		<vg-media vg-src='controller.config.sources'>
		</vg-media>
			<vg-controls>
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>
		<vg-overlay-play></vg-overlay-play>
	</videogular> -->
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == myfile.user._id))">
		<a class="btn btn-primary" href="/#!/myfiles/{{myfile._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="myfile.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="myfile.user.displayName"></span>
		</em>
	</small>
</section>
